<body>
 <div class="container">
 <table class="block-center">
     <% 4.times do |row| %>
      <tr class="even">
       <% 8.times do |even_cell| %>
       <% if Piece.where(game_id: (params[:id]), file: even_cell + 1, rank: row * 2 + 1)[0]%>
        <td><font class="unicode"><%= Piece.where(game_id: (params[:id]), file: even_cell + 1, rank: row * 2 + 1)[0].image.html_safe %></font></td> 
        <% else %>
        <td></td> 
        <% end %>   
       <% end %>
      </tr>
      <tr class="odd">
       <% 8.times do |odd_cell| %>
        <% if Piece.where(game_id: (params[:id]), file: odd_cell + 1, rank: row * 2 + 2)[0]%>
         <td><font class="unicode"><%= Piece.where(game_id: (params[:id]), file: odd_cell + 1, rank: row * 2 + 2)[0].image.html_safe %></font></td>
        <% else %>
         <td></td> 
        <% end %>
       <% end %>
      </tr>
     <% end %>
    </table>
  </div>
</body>