<body>
  <div class="container">
    <div class="board">
      <table class="one">
        <% 4.times do %>
     
        <tr class="even">
 	        <% 8.times do %>
 	         <td></td>	 
 	        <% end %>
        </tr>
  
        <tr class="odd">
          <% 8.times do %>
 	          <td></td>
          <% end %>
    	  </tr>
 	      <% end %>
      </table>
    </div>
  </div>
</body>
