<body>
 <div class="container">
 <table class="block-center">
     <% 4.times do |row| %>
      <tr class="even">
 	     <% 8.times do |even_cell| %>
       <% if Piece.where(file: even_cell + 1, rank: row * 2 + 1)[0]%>
 	      <td><%= Piece.where(file: even_cell + 1, rank: row * 2 + 1)[0].type %></td>	
        <% else %>
        <td></td> 
        <% end %>   
 	     <% end %>
      </tr>
      <tr class="odd">
       <% 8.times do |odd_cell| %>
        <% if Piece.where(file: odd_cell + 1, rank: row * 2 + 2)[0]%>
 	       <td><%= Piece.where(file: odd_cell + 1, rank: row * 2 + 2)[0].type %></td>
        <% else %>
         <td></td> 
        <% end %>
       <% end %>
    	</tr>
 	   <% end %>
    </table>
  </div>
</body>
