.board {
 height: 56.3em;
 width: 56em;
 border: 3px solid #333;
 margin: 10px auto 10px auto;
 vertical-align: middle;
}
body {
 padding-top: 10%; 
 padding-bottom: 10%;
}
td {
 empty-cells: show;
 height: 7em;
 width: 7em;
}
.board tr.odd td:nth-child(odd){
 background-color: #000608
}
.board tr.even td:nth-child(even){
 background-color: #000608;
}

 